<div class="container">
  <h2>Quotes</h2>
  @if(quotes.length === 0){
  <p>No quotes found.</p>
  }@else {
  <div>
    @for(quote of quotes; track quote._id){
    <a [routerLink]="['/quotes', quote._id]">
      <div class="quote-card">
        <p class="quote">{{ quote.content }}</p>
        <p class="user-prompt">User Prompt: {{ quote.userPrompt }}</p>
        <div class="actions">
          <button class="action like-button">
            <fa-icon [icon]="heartIcon"></fa-icon>
            {{ quote.likes.length }}
          </button>
          <button class="action comment-button">
            <fa-icon [icon]="commentIcon"></fa-icon>
            {{ quote.comments.length }}
          </button>
          <button class="action favorite-button">
            <fa-icon [icon]="bookmarkIcon"></fa-icon>
            {{ quote.favorites.length }}
          </button>
        </div>
      </div>
    </a>
    }
  </div>
  }
</div>
