<div class="container">
  <h2>Quotes</h2>
  <div>
    @for(quote of quotes; track quote._id){
    <div class="quote-card">
      <p>{{ quote.content }}</p>
      <p>Author: {{ quote.author }}</p>
      <p>User Prompt: {{ quote.userPrompt }}</p>
      <div class="actions">
        <span class="action">Likes: {{ quote.likes.length }}</span>
        <span class="action">Comments: {{ quote.comments.length }}</span>
        <span class="action">Favorites: {{ quote.favorites.length }}</span>
      </div>
    </div>
    }
  </div>
</div>
