<div class="container">
  <h2>Quotes</h2>
  @if(quotes.length === 0){
  <p>No quotes found.</p>
  }@else {
  <div>
    @for(quote of quotes; track quote._id){
    <a [routerLink]="['/quotes', quote._id]">
      <div class="quote-card">
        <p class="quote">{{ quote.content }}</p>
        <p class="user-prompt">User Prompt: {{ quote.userPrompt }}</p>
        <div class="actions">
          <button class="action like-button">
            Like <span class="like-count">{{ quote.likes.length }}</span>
          </button>
          <button class="action comment-button">
            Comments
            <span class="comment-count">{{ quote.comments.length }}</span>
          </button>
          <button class="action favorite-button">
            Add to Favorites
            <span class="favorite-count">{{ quote.favorites.length }}</span>
          </button>
        </div>
      </div>
    </a>
    }
  </div>
  }
</div>
