<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <img src="../../../assets/logo.png" alt="QuoteQuiz Logo" class="logo" />
      <span class="brand-name">QuoteQuiz</span>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
      <li>
        <a routerLink="/create-quote" routerLinkActive="active">Create Quote</a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">View Profile</a>
      </li>
      <li><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
    </ul>
  </div>
</nav>
